<div class="container">
  <div class="university-logos">
    <img src="../../assets/imgs/1.png" alt="UPM" class="logo-size" />
    <img src="../../assets/imgs/2.png" alt="UPB" class="logo-size" />
  </div>
  <div class="flex-title">
    <p class="main-text">E.T.S.I.Sistemas Informaticos</p>
    <p class="sub-text">Web Development</p>
    <div class="change-position">
      <p class="anormal-text">Practical exercise - UFO Battle</p>
      <img src="../../assets/imgs/ufo.png" alt="UFO" class="ufo-title" />
    </div>
  </div>
</div>
